body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  margin: 20px 0;
}

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  order: -1;
  margin-right: auto;
}

.header h1 {
  text-align: center;
  margin: 0 auto;
}

#addRecipeButton {
  width: 100%;
  margin-top: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.recipeSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

#leggTilSkjema {
  width: 100%;
  max-width: 800px;
  text-align: center;
  box-sizing: border-box;
}

form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input,
textarea {
  max-width: 100%;
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
textarea {
  display: block;
  width: 90%;
}

#leggTilKnapp {
  margin-top: 20px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#kortContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kort {
  background-color: #fff;
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 280px;
  transition: transform 0.3s;
  box-sizing: border-box;
  vertical-align: top;
  height: 320px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background-image 0.3s;
  position: relative;
}

.kort:hover {
  transform: scale(1.05);
  transform: scale(1.05);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.kort h3 {
  color: #333;
  margin-top: 0;
}

.kort .tittel-marker {
  color: #555;
  margin-bottom: 10px;
}

.kort p {
  margin-bottom: 10px;
  color: #555;
}

.rediger-knapp,
.kort .rediger-knapp {
  background-color: orange;
  color: white;
}

.rediger-knapp:hover,
.kort .rediger-knapp:hover {
  background-color: darkorange;
}

.kort .oppdater-gronn {
  background-color: #2ecc71;
}

.kort img {
  top: 20px;
  width: 243px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.enlarged-card {
  text-align: center;
}

.enlarged-card h3,
.enlarged-card p {
  text-align: center;
}

.enlarged-card img {
  float: right;
  margin-left: 20px;
  width: 500px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.edit-button {
  background-color: rgb(65, 94, 255);
}

.edit-button:hover {
  background-color: rgb(36, 55, 163);
}

.buttons-container button {
  display: inline-block;
  margin-right: 10px;
}

.actionButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #c0392b;
}

.trademark {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Define colors for each skill level */
.skill-level-button.easy {
  background-color: #5cb85c; /* Green color for easy */
}

.skill-level-button.medium {
  background-color: #f0ad4e; /* Orange color for medium */
}

.skill-level-button.advanced {
  background-color: #d9534f; /* Red color for advanced */
}

/* Style to indicate when button is clicked */
.skill-level-button.selected {
  border: 2px solid #333; /* Add border when button is clicked */
}

/* Hover effect */
.skill-level-button:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}
